In [16]:
import re
import docx2txt
import os
import pandas as pd
from pdfminer.high_level import extract_text

In [17]:
def list_files_in_folder(folder_path):
    # Get a list of all files in the folder
    files = os.listdir(folder_path)

    # Filter out directories and create a list of file names with extensions
    file_names_with_extensions = [file for file in files if os.path.isfile(os.path.join(folder_path, file))]

    return file_names_with_extensions

def extract_text_from_resume(resume_path):
    if resume_path.split('.')[1]=='docx':
        txt = docx2txt.process(resume_path)
        if txt:
            return txt.replace('\t', ' ')
        return None
    elif resume_path.split('.')[1]=='pdf':
        txt = extract_text(resume_path)
        if txt:
            return  txt.replace('\t', ' ')
        return None




def extract_information(text):
    # Define regex patterns
    name_pattern = re.compile(r'\b([A-Z][a-z]+ [A-Z][a-z]+)\b')
    email_pattern = re.compile(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b')
    phone_number_pattern = re.compile(r'[\+\(]?[1-9][0-9 .\-\(\)]{8,}[0-9]')
    address_pattern = re.compile(r'\b\d{1,5}[^a-zA-Z0-9]*[a-zA-Z0-9\s,.#]+\b')

    # Extract information
    name_match = name_pattern.findall(text)
    email_match = email_pattern.search(text)
    phone_number_match = phone_number_pattern.findall(text)
    address_match = address_pattern.findall(text)

    # Retrieve matched groups or return None if not found
    name = name_match if name_match else None
    email = email_match.group() if email_match else None
    phone_number = phone_number_match if phone_number_match else None
    address = address_match if address_match else None
        


    return name, email, phone_number,address

def append_row_to_dataframe(df, name,email,phone,address):
    new_row = {"Name": name,"Email":email ,"Phone_number": phone,'Address': address}
    df.loc[len(df)]= new_row
    return df

def filter_address(address):
    pattern = re.compile('\b\d{1,5}\s+[a-zA-Z0-9\s,.#]+\b')
    matched = pattern.search(address)

In [18]:
to_be_extracted = list_files_in_folder("resume/")
df = pd.DataFrame(columns=['Name','Email','Phone_number','Address'])
for file in to_be_extracted:
    txt = extract_text_from_resume(f"resume/{file}")
    extracted_name,extracted_email,extracted_phone,extracted_address = extract_information(txt)
    df= append_row_to_dataframe(df,extracted_name,extracted_email,extracted_phone,extracted_address)

In [19]:
df

,Name,Email,Phone_number,Address
0,"[Christine Smith, Christine Smith, New York, N...",christine.smith@mail.com,"[+1 (970) 333-3833, +1 (970) 333-3833]","[344 ELM STREET MADISON, SD 57042, 1 (970, 333..."
1,"[Retail Sales, Queensferry Road, Personal Stat...",jack.mclaughlin@gmail.com,[7123 456 789],"[07123 456 789 \n\nEmail \njack.mclaughlin, 47..."
2,"[Software Engineer, Skill Highlights, Software...",matthew.eliot@Mail.com,[+1 (970) 333-3833],"[344 ELM STREET MADISON, SD 57042, 1 (970, 333..."
3,"[Senior Web, Skill Highlights, Web Developer, ...",matthew.eliot@mail.com,"[+1 (970) 333-3833, +1 (970) 333-3833]","[09/2015 to 05, 2019\n\nLuna Web Design, New Y..."
4,"[Qualified Customer, Service Representative, I...",CHRISTINE.SMIDTH@MAIL.COM,"[+1 (970) 333-3833, +1 (970) 333-3833]","[4 years in fast, 4 years in fast, 04/2017 to ..."

In [20]:
df

,Name,Email,Phone_number,Address
0,"[Christine Smith, Christine Smith, New York, N...",christine.smith@mail.com,"[+1 (970) 333-3833, +1 (970) 333-3833]","[344 ELM STREET MADISON, SD 57042, 1 (970, 333..."
1,"[Retail Sales, Queensferry Road, Personal Stat...",jack.mclaughlin@gmail.com,[7123 456 789],"[07123 456 789 \n\nEmail \njack.mclaughlin, 47..."
2,"[Software Engineer, Skill Highlights, Software...",matthew.eliot@Mail.com,[+1 (970) 333-3833],"[344 ELM STREET MADISON, SD 57042, 1 (970, 333..."
3,"[Senior Web, Skill Highlights, Web Developer, ...",matthew.eliot@mail.com,"[+1 (970) 333-3833, +1 (970) 333-3833]","[09/2015 to 05, 2019\n\nLuna Web Design, New Y..."
4,"[Qualified Customer, Service Representative, I...",CHRISTINE.SMIDTH@MAIL.COM,"[+1 (970) 333-3833, +1 (970) 333-3833]","[4 years in fast, 4 years in fast, 04/2017 to ..."